@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
.search {
  position: relative;
}
.search__icon {
  color: rgba(0, 0, 0, 0.26);
  line-height: 40px;
  padding-left: 10px;
  position: absolute;
  opacity: 26%;
  top: 8px;
  width: 24px;
}
.search__input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding-left: 40px;
  width: 100%;
}
.search__input:hover {
  border-color: #000;
}
.search__input::placeholder {
  color: #9b9b9b;
  font-family: "Open Sans";
  font-size: 0.9375rem;
  font-weight: 600;
}

.header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  width: 100%;
}
.header__container {
  margin: auto;
  max-width: container 1200px;
  width: 95%;
}
.header__container--mobile {
  display: none;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .header__container--mobile {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .header__container--desktop {
    display: none;
  }
}

.menu {
  display: none;
  opacity: 54%;
  width: 24px;
}
.menu__sub {
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0;
  text-transform: uppercase;
}
.menu--active {
  display: block;
}
.menu--close___icon {
  background: url(../assets/close.svg) no-repeat;
  background-size: contain;
}
.menu--close::after {
  content: "fechar";
}

.logo {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
@media (max-width: 1200px) {
  .logo {
    flex-grow: 1;
  }
}
.logo__img {
  height: 25px;
  transform: translateY(10px);
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav__list___item {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: baseline;
}
.nav__list___item:hover {
  border-bottom: 2px solid #000;
}

.breadcrumbs {
  margin-bottom: 16px;
}
.breadcrumbs .nav__list {
  justify-content: flex-start;
  margin-top: 0px;
  margin-bottom: 0px;
}
.breadcrumbs .nav__list___item {
  text-transform: none;
  font-size: 0.8125rem;
  font-weight: 600;
  color: #585858;
}
.breadcrumbs .nav__list___item:not(:last-child)::after {
  content: "/";
  margin: 0 0.7rem;
}
.breadcrumbs .nav__list___item:hover {
  border-bottom: none;
}
.breadcrumbs .nav__list___item:not(:last-child):hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .breadcrumbs .nav__list___item {
    display: none;
  }
}
.breadcrumbs .nav__list___item--active {
  color: #261e1e;
}
@media (max-width: 1200px) {
  .breadcrumbs .nav__list___item--active {
    display: block;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1100px;
  padding: 1rem 0 0 0;
}

.filters {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
@media (max-width: 1200px) {
  .filters {
    display: none;
  }
}
.filters__list {
  display: flex;
}
.filters__list___item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.filters__list___item:hover {
  cursor: pointer;
  background-color: rgba(38, 30, 30, 0.04);
}
.filters__list___item--label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #261e1e;
}
.filters__list___item--img {
  height: 20px;
  margin-left: 8px;
}

.products {
  margin-top: 20px;
  margin-bottom: 20px;
}
.products__row {
  margin: 8px;
}
.products__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .products__list {
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .products__cards {
    flex-basis: 50%;
  }
}
.products__cards___card {
  cursor: pointer;
  border: 1px solid white;
  padding: 8px;
}
.products__cards___card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.products__cards___card____img {
  max-width: 100%;
  max-height: 100%;
}
.products__cards___card____description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.products__cards___card____price {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer__container {
  margin: 0 auto;
  width: 90%;
}

.apps {
  display: flex;
  justify-content: center;
  align-items: center;
}
.apps__msg {
  font-size: 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 20px;
}
.apps__app {
  margin-left: 10px;
}
.apps__app___img {
  width: 110px;
}

.companies {
  display: flex;
  width: 60%;
  padding: 50px;
}
.companies__links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.companies__title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.companies__item {
  padding-top: 8px;
}
.companies__item___text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.companies__item___text:hover {
  text-decoration: underline;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__info {
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.contact__input {
  height: 24px;
  line-height: 24px;
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  outline: none;
  width: 300px;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #000;
}
.contact__input:hover {
  border-bottom: 2px solid #261e1e;
}
.contact__input:focus-within {
  border-bottom: 2px solid #261e1e;
}
.contact__input::placeholder {
  font-style: italic;
  opacity: 42%;
  font-weight: 600;
}
.contact__btn {
  margin-left: 20px;
  color: #000;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.links {
  background-color: #f6f6f6;
  margin-top: 40px;
  display: flex;
}
.links__contacts {
  width: 30%;
  display: flex;
}
.links__col {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.links__icon {
  text-align: center;
}
.links__img {
  display: block;
  margin: auto;
  width: 25px;
}
.links__text {
  padding: 8px;
  font-size: 0.8125rem;
  white-space: pre-line;
}
.links__separator {
  width: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.12);
}

.accessibility {
  flex-grow: 1;
}
.accessibility__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.accessibility__img {
  width: 30px;
}

.social {
  flex-grow: 1;
}
.social__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.social__icons {
  display: flex;
}
.social__icons___icon {
  width: 50px;
}
.social__icons___img {
  display: block;
  margin: auto;
}
.social__icons___text {
  padding-top: 4px;
  font-size: 0.6875rem;
  font-weight: 300;
  text-align: center;
}

.payment {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
}
.payment__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.payment__alternatives {
  width: 50%;
}
.payment__alternatives___img {
  margin: 2px;
  width: auto;
}

html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
html a {
  text-decoration: none;
  color: inherit;
}
html input {
  outline: none;
}

.hide {
  display: none;
}

@media (max-width: 1200px) {
  div.header .floating {
    position: fixed;
    top: 0;
    background-color: #fff;
  }
}

.bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.bottom .container {
  display: flex;
}
.bottom .copyright {
  width: 83.333333%;
}
.bottom .copyright .text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261e1e;
}
.bottom .stamp {
  margin: 0 auto;
  width: 47px;
}

/*# sourceMappingURL=styles.css.map */
