@mixin for-phone-only {
  @media (max-width: 1200px) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap"),
  "components/search", "components/header", "components/menu", "components/logo", "components/nav",
  "components/breadcrumbs", "components/main", "components/filters", "components/products", "components/footer",
  "components/apps", "components/companies", "components/contacts", "components/links", "components/accessibility",
  "components/social", "components/payment";
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;

  a {
    text-decoration: none;
    color: inherit;
  }

  input {
    outline: none;
  }
}

.hide {
  display: none;
}

div.header {
  .floating {
    @include for-phone-only {
      position: fixed;
      top: 0;
      background-color: #fff;
    }
  }
}

.bottom {
  background-color: #f6f6f6;
  padding: 20px 0;

  .container {
    display: flex;
  }

  .copyright {
    width: 83.333333%;

    .text {
      font-size: 0.5625rem;
      font-weight: 400;
      color: #261e1e;
    }
  }

  .stamp {
    margin: 0 auto;
    width: 47px;
  }
}
