.search {
  position: relative;

  &__icon {
    color: rgba(0, 0, 0, 0.26);
    line-height: 40px;
    padding-left: 10px;
    position: absolute;

    opacity: 26%;
    top: 8px;
    width: 24px;
  }

  &__input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding-left: 40px;
    width: 100%;

    &:hover {
      border-color: #000;
    }

    &::placeholder {
      color: #9b9b9b;
      font-family: 'Open Sans';
      font-size: 0.9375rem;
      font-weight: 600;
    }
  }
}
